@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.sidebar{
   height: 100vh;
   position: sticky;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
    top: 0;
    bottom: 0;
    display: none; /* sidebar hidden*/
}
@media (min-width: 768px) {
    .sidebar {
      display: inline-flex; /* sidebar flex on big device*/
    }
  }
  

.sidebar img{
    width: 20px;
}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-chat{
    margin-top:50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.sidebar .recent-title{
    margin-top:30px ;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}
.sidebar .recent-entry:hover{
background-color: #e2e6eb;
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
padding-right: 10px;
cursor: pointer;
}